{% extends 'layout.twig' %}

{% block titre %}
    <div class="page-header"><h2>Informations concernant {{ admin.name }} {{ admin.surname }}</h2></div>
{% endblock %}

{% block contenu %}
    <ul>
        <li>Date de naissance : {{ admin.birthDate }}</li>
        <li>Adresse : {{ admin.address }}</li>
        <li>Email : {{ admin.email }}</li>
    </ul>
{% endblock %}
