{% extends 'layout.twig' %}

{% block titre %}
    <div class="page-header"><h2>Informations concernant {{ secretary.name }} {{ secretary.surname }}</h2></div>
{% endblock %}

{% block contenu %}
    <ul>
        <li>Date de naissance : {{ secretary.birthDate }}</li>
        <li>Adresse : {{ secretary.address }}</li>
        <li>Email : {{ secretary.email }}</li>
    </ul>
    {% if global.session.status == 'admin' or global.session.status == 'secretary' %}
        <a class="btn btn-primary" aria-label="Left Align"
           href="index.php?object=secretary&amp;action=edit&amp;idSecretary={{ secretary.id }}">
            {% if global.session.status == 'admin' %}
                Modifier ces informations
            {% elseif global.session.status == 'secretary' %}
                Modifier mes informations
            {% endif %}
        </a>
    {% endif %}
    {% if global.session.status == 'admin' %}
        <a class="btn btn-default" aria-label="Left Align" href="index.php?object=secretary&amp;action=displayList">
            Retour à la liste des secrétaires
        </a>
    {% endif %}
{% endblock %}
