{% extends 'layout.twig' %}

{% block titre %}
    <div class="page-header"><h2>Editer les informations concernant {{ secretary.name }} {{ secretary.surname }}</h2></div>
{% endblock %}

{% block contenu %}
    <form action="index.php?object=secretary&amp;action=save" method="post">
        {% if secretary.id is not empty %}
            <input type="hidden" id="idSoldier" name="idSoldier" value="{{ secretary.id }}"/>
        {% endif %}
        <div>
            <label for="name">Prénom</label>
            <input type="text" id="name" name="name" value="{{ secretary.name }}" required/>
            {{ errors.name is defined ? display_errors(errors.name) : null }}
        </div>
        <div>
            <label for="surname">Nom</label>
            <input type="text" id="surname" name="surname" value="{{ secretary.surname }}" required/>
            {{ errors.surname is defined ? display_errors(errors.surname) : null }}
        </div>
        <div>
            <label for="birthDate">Date de naissance</label>
            <input type="text" id="birthDate" name="birthDate" value="{{ secretary.birthDate }}" required/>
            {{ errors.birthDate is defined ? display_errors(errors.birthDate) : null }}
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ secretary.email }}" required/>
            {{ errors.email is defined ? display_errors(errors.email) : null }}
        </div>
        <div>
            <label for="address">Adresse</label>
            <input type="text" id="address" name="address" value="{{ secretary.address }}" required/>
            {{ errors.address is defined ? display_errors(errors.address) : null }}
        </div>
        <div>
            <label for="login">Login</label>
            <input type="text" id="login" name="login" value="{{ secretary.login }}"
                   required/>
            {{ errors.login is defined ? display_errors(errors.login) : null }}
        </div>

        <div>
            <label for="password">Mot de passe</label>
            <input type="text" id="password" name="password" value="{{ secretary.password }}"
                   required/>
            {{ errors.password is defined ? display_errors(errors.password) : null }}
        </div>

        <div class="button">
            <button type="submit">{{ secretary.id is not empty ? 'Modifier' : 'Enregistrer' }}</button>
        </div>
    </form>
{% endblock %}